[Desktop Entry]
Version=1.0
Type=Application
Name=Youtube2MP3
Comment=Convert Youtube Videos to MP3
Exec=/opt/youtube2mp3/youtube2mp3.sh
Icon=/opt/youtube2mp3/youtube2mp3.png
Path=/opt/youtube2mp3/
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;